*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#sun{
    width: 200px;
    height:auto;
    position:fixed;

    z-index: 30;
}
.cloud{
    width: 300px;
    height:auto;
    position: absolute;
    z-index:31
}
body{
    background-color: black;
    
}


#smurf
{
    position:absolute;
    height:100px;
    width:auto;
    z-index:100;
  
}
.container{
    height:600px;/*600*/
    width:8000px;
    position:relative;
    background-color:rgb(39, 112, 247);

    /*background-color:rgb(39, 39, 41)*/


}

.houseSmurf
{
    height:300px;
    width:auto;
    top:300px;
    left:1700px;
    position:absolute;
    z-index:50;
}
#gras{
    width:8000px;
    height:30px;
    background-color: rgb(72, 187, 72);
    position: absolute;
    top:570px;
    z-index: 41;
}

.square
{
    height:50px;
    width:50px;
    border:2px solid black;
    background-color:gray;
    position:absolute;
    top:550px;
    z-index: 32;
}

#peppa{
    position:absolute;
    top:350px;
    height:250px;
    width:auto;
    left:2430px;
    z-index:75;
}


#moon
{
    opacity:0;
    position:fixed;
    top:20px;
    left:25%;
    z-index: 1;
    width:300px;

}

#peppaHouse{
    height:500px;
    z-index: 45;
    position: absolute;
    left:3800px;
    top:100px;
}




#screen
{
    max-width:800px;
    height:600px;
    overflow: hidden;
    overflow:scroll;
    overflow-y: hidden;
    position: relative;
    margin:auto auto;

}

#birds{
    position:absolute;
    top:100px;
    z-index:80
}

#fixedDivtoHideSun{
    /*this div is actually to hide the sun from appearing on the document as its position its fixed 
    and the same time we will add buttons on it*/ 
    top:600px;
    background-color: black;
    height:300px;
    z-index:40 /*bigger then z-index of sun*/;
    position:fixed;
    width:100%;
    display:flex;
    justify-content: space-around;
}
button
{
    background-color: aliceblue;
    color:black;
    width:50px;
    height:50px;
    border-radius: 90px;
    margin:5px;
    font-family: fantasy;
}

button:focus
{
    background-color: orangered;
}